In [1]:
import glob
import pandas as pd

In [2]:
# glob.glob('data*.csv') - returns List[str]
# pd.read_csv(f) - returns pd.DataFrame()
# for f in glob.glob() - returns a List[DataFrames]
# pd.concat() - returns one pd.DataFrame()
ridership_data = pd.concat([pd.read_csv(f) for f in glob.glob('initial_data/ridership_data/*.csv')], ignore_index = True)

trip_data = pd.concat([pd.read_csv(f) for f in glob.glob('initial_data/trip_data/*.csv')], ignore_index = True)

In [3]:
ridership_data.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/18,5499,11483,253490,123,7
1,1/2/18,18818,39352,253558,125,12
2,1/3/18,24299,42853,253591,164,4
3,1/4/18,1922,5328,253604,2,1
4,1/5/18,4972,14303,253614,14,0

In [4]:
trip_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [5]:
ridership_data.count()

Date                                                  365
Trips over the past 24-hours (midnight to 11:59pm)    365
Miles traveled today (midnight to 11:59 pm)           365
Total Annual Members (All Time)                       365
24-Hour Passes Purchased (midnight to 11:59 pm)       365
3-Day Passes Purchased (midnight to 11:59 pm)         365
dtype: int64

In [6]:
trip_data.count()

tripduration               353892
starttime                  353892
stoptime                   353892
start station id           353892
start station name         353892
start station latitude     353892
start station longitude    353892
end station id             353892
end station name           353892
end station latitude       353892
end station longitude      353892
bikeid                     353892
usertype                   353892
birth year                 353892
gender                     353892
dtype: int64

In [7]:
ridership_data.to_csv('combined_data/2018_ridership_data.csv')
trip_data.to_csv('combined_data/2018_JCtrip_data.csv')